.shopping-container {
	width: 800px;
	height: 1600px;
	margin: 35px 250px;
	padding: 20px 50px;
	border: 1px solid #dcdfe6;
}
.leftFont {
	width: 500px;
	line-height: 40px;
	float: left;
}
.giveMark {
	font-size: 10px;
	position: relative;
	top: -31px;
	left: 165px;
}
.sales {
  padding-top: 10px;
	border-top: 1px solid #dcdfe6; 
	margin: 10px auto;
}
.saleType {
	width: 25px;
	color: white;
	font-size: 16px;
	background-color: red;
	padding: 3px 10px;
	position: relative; 
	top: -204px; 
	border-radius: 5px;
	z-index: 10;
}
.customerEvaluate {
	font-size: 18px; 
	margin: 20px auto; 
	padding-top: 10px;
	border-top: 1px solid #dcdfe6;
}
.evaluateContent {
	margin-bottom: 20px; 
	padding: 5px;
	border-radius: 5px;
	border: 1px solid #dcdfe6;
}