.copyright {
	height: 80px;
	background-color: #66B0FF;
	margin-top: 10px;
}
.breadcrumbClass {
	width: 500px;
	margin: 30px auto;
}
.copyright-bottom {
	width: 600px;
	color: #E0E0E0;
	margin: auto;
}