.personalCenter-container {
	width: 1440px;
	height: 900px;
}
.goHome {
	font-size: 14px;
	width: 90px;
	height: 23px;
	padding: 5px;
	border-radius: 3px;
	background-Color: rgb(102, 176, 255);
	color: white;
	position: absolute;
	left: 250px;
	top: 170px;
	&:hover {
		cursor: pointer;
	}
}
.border-main {
	margin: 100px auto 77px 30%; 
	width: 450px;
	border: 1px solid #d9d9d9;
	border-radius: 5px;
	padding: 50px;
}
.picture-card {
  width: 52px;
  height: 52px;
  border: 1px solid #c0ccda;	
}
.headPortrait-box {
  width: 50px;
  height: 50px;
  font-size: 50px;
	color: #dfdddd;
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  line-height: 50px;
  cursor: pointer;
  position: relative;
  left: 283px;
  label {
  	cursor: pointer;
  }
}
.changePhoneNumber {
	width: 40px;
	text-align: center;
	border-radius: 5px;
	position: relative; 
	left: 410px; 
	top: -20px;
	background-color: #66b0ff;

	&:hover {
		cursor: pointer;
	}
}
.bottomButton {
	margin-top: 20px;
	width: 70px;
	height: 28px;
	padding: 7px 0 0 35px;
	border-radius: 4px;
	border: 1px solid #66b0ff;
	position: relative; 
	left: 35%; 
	top: 40px;
	background-color: #66b0ff;

	&:hover {
		cursor: pointer;
	}
}